@import url(../css/variables.css);

body {
    background: var(--color-3);
}
header {
    display: flex;
    justify-content: space-between;
    margin: var(--space-layout-trbl);
}
header h1,
header a h3 {
    font-family: 'Poppins', sans-serif;
}
header h1 {
    color: var(--color-1);
}
.article__options {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.article__options a h3 {
    color: var(--color-2);
    text-align: center;
    width: 80px;
    font-size: 15px;
}
.article__options a:nth-child(3) {
    border: 1px solid var(--color-7);
}
main {
    margin: var(--space-layout-trbl);
}
.section__menu {
    text-align: center;
}
.section__menu h5, h1 {
    font-family: 'Poppins', sans-serif;
}
.section__menu h5 {
    color: var(--color-1);
    margin-bottom: 0;
}
.section__menu h1 {
    color: var(--color-2);
}
.article__menu {
    display: flex;
    justify-content: center;
}
.item__menu {
    background: var(--color-5);
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 200px;
    margin-right: 20px;
}
.item__menu img:first-child {
    width: 30px;
    background: var(--color-1);
    align-self: flex-end;
}
.item__menu img:nth-child(2) {
    width: 130px;
    align-self: center;
}
.item__menu p,
.item__menu small, 
.item__menu span {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.item__menu span {
    color: var(--color-1);
}
