<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <title>About</title>
</head>
<body>
    <header>
        <h1>Foods</h1>
        <article class="article__options">
            <a href="../index.html"><h3>Home</h3></a>
            <a href=""><h3>About</h3></a>
            <a href=""><h3>Menu</h3></a>
            <a href=""><h3>Service</h3></a>
            <a href=""><h3>Contact</h3></a>
        </article>
    </header>
    <section class="section__about">
        <article class="about__image">
            <img src="../storage/img/about.png">
        </article>
        <article class="about__content">
            <h5>About Us</h5>
            <h1>We speak the good
                food language</h1>
            <p>It is a long established fact that a <br> 
                be distracted by the readable content<br>
                looking at its layout. The point of</p>
            <button>Learn More</button>
        </article>
    </section>
</body>
</html>