<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Menu</title>
</head>
<body>
    <header>
        <h1>Foods</h1>
        <article class="article__options">
            <a href="../index.html"><h3>Home</h3></a>
            <a href="../view/about.html"><h3>About</h3></a>
            <a href=""><h3>Menu</h3></a>
            <a href=""><h3>Service</h3></a>
            <a href=""><h3>Contact</h3></a>
        </article>
    </header>
    <main>
        <section class="section__menu">
            <h5>Food Menu</h5>
            <h1>Fresh taste and grat price</h1>
            <article class="article__menu">
                <article class="item__menu">
                    <img src="../storage/img/start.svg">
                    <img src="../storage/img/food1.png">
                    <p>Chicken Burger</p>
                    <small>Tasty Food</small>
                    <span>$11.00</span>
                </article>
            </article>
        </section>
    </main>
</body>
</html>